# Extract

In [1]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Create filepaths to read
filepath_college_type = 'Resources/salaries-by-college-type.csv'
filepath_salaries = 'Resources/salaries-by-region.csv'

In [5]:
# Read CSV files and store as dataframes
college_type_df = pd.read_csv(filepath_college_type)
salaries_df = pd.read_csv(filepath_salaries)

# Transform

In [12]:
# Start with college_type data, drop unnecessary columns
college_type = college_type_df[['School Name','School Type']].copy()

# Rename columns (lower-case, no spaces)
college_type.rename(columns={'School Name':'school_name','School Type':'school_type'},inplace=True)

# Set school_name as index
college_type.set_index('school_name',inplace=True)

In [33]:
# Next with salaries data, drop unnecessary columns
salaries = salaries_df[['School Name','Region','Starting Median Salary','Mid-Career Median Salary']].copy()

# Rename columns (lower-case, no spaces)
salaries.rename(columns={'School Name':'school_name',
                         'Region':'region',
                         'Starting Median Salary':'starting_median_salary',
                        'Mid-Career Median Salary':'mid_career_median_salary'}, inplace=True)

# Clean up data type of salary data in two columns
salaries['starting_median_salary'] = salaries['starting_median_salary'].str.replace('$', '')
salaries['starting_median_salary'] = salaries['starting_median_salary'].str.replace(',', '')

salaries['mid_career_median_salary'] = salaries['mid_career_median_salary'].str.replace('$', '')
salaries['mid_career_median_salary'] = salaries['mid_career_median_salary'].str.replace(',', '')

salaries['starting_median_salary'] = salaries['starting_median_salary'].astype('float')
salaries['mid_career_median_salary'] = salaries['mid_career_median_salary'].astype('float')

# Set school_name as index
salaries.set_index('school_name',inplace=True)

# Load