# Extract

In [1]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Create filepaths to read
filepath_college_type = 'Resources/salaries-by-college-type.csv'
filepath_salaries = 'Resources/salaries-by-region.csv'

In [4]:
# Read CSV files and store as dataframes
college_type_df = pd.read_csv(filepath_college_type)
salaries_df = pd.read_csv(filepath_salaries)

,School Name,Region,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Stanford University,California,"$70,400.00","$129,000.00","$68,400.00","$93,100.00","$184,000.00","$257,000.00"
1,California Institute of Technology (CIT),California,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,California,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"University of California, Berkeley",California,"$59,900.00","$112,000.00","$59,500.00","$81,000.00","$149,000.00","$201,000.00"
4,Occidental College,California,"$51,900.00","$105,000.00",NaN,"$54,800.00","$157,000.00",NaN

# Transform

# Load